/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/10/2017, 12:28:26 PM
    Author     : daniela.sierra
*/


.tok_no_selec:hover, .datos_creados_toks:hover{
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#fgroup_id_buttonar_delete_hijos{
    width: 50%;
    padding-left: 22%;
}

#form_search_course .ftext input, #form_create_hijo .ftext input{
    width: 61% !important;
}

/*Loader*/
.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #004a93;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
	position: absolute;
    left: 45%;
	z-index: 2;
}


/*botones de los items de los hijos */

.edit-item-hijo, .block-item-hijo {
    position: relative;
    float: right;
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    color: #004a93;
    font-weight: bold;
}
.block-item-hijo{  margin-top: -75px; }
#list_tokens_creados .border:hover, 
#list_tokens_activos .border:hover,
#list_tokens_black .border:hover{ box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia la sombra en hover */  }
.border .border{cursor: pointer;}

.delete-item-hijo {
    position: relative;
    float: right;
    left: 0px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    color: red;
    font-weight: bold;
}

#list_tokens_black .delete-item-hijo { margin-top: -40px; }


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
